<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>StudentWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <error-page>
   <error-code>403</error-code>
   <location>/vezbaSecurity/error.html</location>
 </error-page>
  
  <security-constraint>
        <web-resource-collection>
            <web-resource-name>JSP Files</web-resource-name>
            <description>No direct access to JSP files</description>
            <url-pattern>/vezbaSecurity/pages/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>No direct browser access to JSP files</description>
            <role-name>NobodyHasThisRole</role-name>
        </auth-constraint>
    </security-constraint> 
  
   <servlet> 
      <servlet-name>Hello</servlet-name>
      <servlet-class>com.skolamaric.servllets</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>Hello</servlet-name>
      <url-pattern>/hello.html</url-pattern>
    </servlet-mapping>
    
    <!-- 
     -->
     
    <servlet> 
      <servlet-name>ListajStudente</servlet-name>
      <servlet-class>com.skolamaric.servllets.ListajStudente</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>ListajStudente</servlet-name>
      <url-pattern>/vezbaServleti/listajStudente.html</url-pattern>
    </servlet-mapping>
    

   
      <servlet> 
      <servlet-name>PrikaziStudenta</servlet-name>
      <servlet-class>com.skolamaric.servllets.PrikaziStudenta</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>PrikaziStudenta</servlet-name>
      <url-pattern>/vezbaServleti/prikaziStudenta.html</url-pattern>
    </servlet-mapping>
    
     <servlet> 
      <servlet-name>ObrisiStudenta</servlet-name>
      <servlet-class>com.skolamaric.servllets.ObrisiStudenta</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>ObrisiStudenta</servlet-name>
      <url-pattern>/vezbaServleti/obrisiStudenta.html</url-pattern>
    </servlet-mapping>
    
       <servlet> 
      <servlet-name>HandleFile</servlet-name>
      <servlet-class>com.skolamaric.servllets.HandleFile</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>HandleFile</servlet-name>
      <url-pattern>/vezbaServleti/handleFile.html</url-pattern>
    </servlet-mapping>
      
  
</web-app>